<table class="table">
<thead>
<tr>
  <th>Username</th>
  <th>emailid</th>
</tr>
</thead>
<% @users.each do |user| %>
  <tbody>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
  </tbody>
<% end %>
</table>
