<address>
  <Strong>  myactionboard.com</Strong> <br>
  1355 Market Street, Suite 900 <br>
  San Francisco, CA 94103 <br>
  <abbr title="Phone">P:</abbr> (044) 456-7890
</address>

<address>
  <strong>Email id</strong><br>
  <a href="mailto:#">myactionboar@gmail.com</a>
</address>